WAU (weekly active users) – количество активных пользователей в неделю.

Вам предоставлен доступ к таблице default.churn_submits. В ней находятся данные по активности пользователей нашего Симулятора. Одна строка = одна попытка решения каким-то студентом какой-то задачи.

1. Напишите запрос с расчётом WAU за весь период скользящим окном в неделю с шагом в 1 день, при этом текущая дата должна включаться в расчет.
Например, для даты 07.09.2022 нужно рассчитать WAU за период с 01.09.2022 по 07.09.2022.

2. Название столбцов должно быть day и wau. Столбы должны идти именно в таком порядке.

3. Сохраните SQL-запрос в файл query.sql и загрузить его в форму ниже.

In [ ]:
'''sql
SELECT
    DISTINCT day,
    COUNT(DISTINCT user_id) OVER (
        ORDER BY day
        RANGE BETWEEN 6 PRECEDING AND CURRENT ROW
    ) AS wau
FROM (
    SELECT
        toDate(timestamp) AS day,
        user_id
    FROM
        default.churn_submits
) AS subquery
ORDER BY
    day;

'''

In [1]:
'''sql
SELECT
    DISTINCT DATE(timestamp) as day,
    COUNT(DISTINCT user_id) OVER (
        ORDER BY DATE(timestamp)
        RANGE BETWEEN 6 PRECEDING AND CURRENT ROW
    ) AS wau
FROM default.churn_submits
'''

'sql\nSELECT\n    DISTINCT DATE(timestamp) as day,\n    COUNT(DISTINCT user_id) OVER (\n        ORDER BY DATE(timestamp)\n        RANGE BETWEEN 6 PRECEDING AND CURRENT ROW\n    ) AS wau\nFROM default.churn_submits\n'